.winNum {
    position: absolute;
    margin: 10px;

}

.bg {
    height: 100vh;
    background: linear-gradient(
        0deg, 
        rgba(91,142,224,0.578890931372549) 0%, 
        rgba(255,255,255,0) 15%, 
        rgba(255,255,255,0) 85%, 
        rgba(212,67,67,0.58) 100%
    );
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: stretch;

    position: absolute;
    height: 71.4%;
    top: 14.2%;
}

.row {
    justify-content: center;
}

.operation {
    text-align: center;
}

#playerAWinNum {
    transform: scale(-1, -1);
}

.opSelectA,
.opSelectB {
    font-size: 32pt;
    text-align: center;
}

.playerTable {
    position: absolute;
}



