.winNum {
    position: absolute;
    margin: 10px;

}

.bg {
    height: 100vh;
    background: linear-gradient(
        0deg, 
        rgba(91,142,224,0.578890931372549) 0%, 
        rgba(255,255,255,0) 15%, 
        rgba(255,255,255,0) 85%, 
        rgba(212,67,67,0.58) 100%
    );

    background-size: 200% 200%;

}

.bg-animate {
    animation: Animation 1.5s ease;
    animation-fill-mode: forwards;
}

.bg-reverse-animate {
    animation: ReverseAnimation 1.5s ease;
    animation-fill-mode: forwards;
}

@keyframes Animation {
    0%{background-position:10% 0%}
    100%{background-position:91% 100%}
}

@keyframes ReverseAnimation {
    0%{background-position:91% 100%}
    100%{background-position:10% 0%}
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: stretch;

    position: absolute;
    height: 71.4%;
    top: 14.2%;
}

.row {
    justify-content: center;
}

.operation {
    text-align: center;
}

#playerAWinNum {
    transform: scale(-1, -1);
}

.opSelectA,
.opSelectB {
    font-size: 32pt;
    text-align: center;
}

.playerTable {
    position: absolute;
}



