html {
    scroll-behavior: smooth;
}

@media (min-width: 1024px) {
    .table-of-contents {
        position: fixed;
        bottom: 1.3rem;
        right: 1.3rem;
        width: 15%;
    }
    .jumbotron {
        width: 75%;
    }
    .big-enchilada {
        padding-left:3.7vw;
    }
}
@media (max-width: 1024px) {
    .table-of-contents {
        display: none;
    }
    .no-mobile {
        display: none;
    }
    .jumbotron {
        width: 100%;
    }
    .row {
        padding: 2px !important;
    }
    .hello {
        padding-top: 5vh;
    }
}

.background {
    background: 
        url("img/thumb-1920-600708.jpg") no-repeat,
        url("img/yVibYhs.jpg");
    background-size: auto;
}

.lead {
    color: whitesmoke;
    font-size: calc(14px + 1.5vw) !important;
    padding-left: 4.5vw;
}

.hello {
    color: whitesmoke;
    font-size: 30vw !important;
    padding-left: 2vw;
}

.chord-display {
    text-align: center;
    font-size: 32pt;
}

#generate {
    border-width: 5px;
    border-color: grey;     
}

.list-header {
    font-size: calc(14px + 3vw) !important;
}
 
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.scrollspy::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


.page-header-etc {
    padding-top: 6.0rem;
    padding-bottom: 2.0rem;
    padding-left: 0.5rem;
}

.list-des {
    font-size: calc(14px + 0.6vw);
}

.audio {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.paragraph-break {
    padding-bottom: 2.2rem;
}


.list-top-padding {
    padding-top: 2.5rem;
}

.list-bot-padding {
    padding-bottom: 3vh;
}

.divider {
    background-color: grey;
    height: 2px;
}

.robot-pic {
    width: 80%;
    height: auto;
}

#jazz:hover {
    font-style: italic;
    font-weight: bold;

    text-transform: uppercase;
    background-image: linear-gradient(
        90deg,
        #3d2580 0%,
        #eb2a75 50%,
        #6dadde 67%, 
        #02285d 100% 
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        font-size: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
