.background {
    background: 
        url("img/thumb-1920-600708.jpg"),
        url("img/yVibYhs.jpg");
    background-size: cover;
    height: 1000px;
}

h1 {
    padding-left: 1.0rem;
}

.lead {
    color: ivory;
    padding-left: 1.4rem;
    font-size: 2rem !important;
}

.hello {
    color: ivory;
    font-size: 18.6rem !important;
}

.chord-display {
    text-align: center;
    font-size: 32pt;
}

#generate {
    border-width: 5px;
    border-color: grey;
}
