.page-header {
    padding-block: 30px;
}

.container-fluid {
    background-image: url("img/yVibYhs.jpg");
    background-size: cover;
    height: 1000px;
}

h1 {
    color: black !important;
    padding: 10px;
}

.chord-display {
    text-align: center;
    font-size: 32pt;
}

#generate {
    border-width: 5px;
    border-color: grey;
}

.page-header {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
