
.board {
    width: 80%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
}

td {
    text-align: center;
    font-size: 500%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.top-0 {
    border-bottom: grey !important;
    border-bottom-style: solid !important;
}

.space {
    text-align: center !important;
}
